doctype
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Welcome
    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.2.0/css/all.css", integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ", crossorigin="anonymous")
    script(src="js/main.js")
  body
    .container
      h1
        a(href="/", class="link")
          span(class="green") Me
          , Suyogya Khanal
      .abt Security & web enthusiast
      button(class="know") Know me
      a(href="https://www.github.com/then008", target="_blank")
        i(class="fab fa-github github")
    .education
      button(class="nextPage") Skills and languages
        i(class="fas fa-arrow-right rightArrow")
      #content
        h1 My
          span(class="green")&nbsp;Education
        ul.timeline
          li.event(data-date='2010')
            h3 Chelsea International Academy
            p
              |  This is a school located in New Baneshwor, Kathmandu, Nepal. I studied here from grade 5th to grade 7th.
          li.event(data-date='2013')
            h3 Symbiosis Boarding School
            p
              | This is a school located in Inaruwa, Sunsari, Nepal. I studied here from grade 7th to grade 10th. I gave my SLC (SEE) examination here.
          li.event(data-date='2016')
            h3 Premier College
            p
              | This is a high school and college located at New Baneshwor, Kathmandu, Nepal. I studied here for my +2. Results for +2 hasn't been published yet.
    .skills
      a(href="/", class="home") Home
        i(class="fas fa-home")
      .contentContainer
        .progressBar
          h4 HTML5
          .progressBarContainer
            .progressBarValue.value-70
        .progressBar
          h4 CSS3
          .progressBarContainer
            .progressBarValue.value-30
        .progressBar
          h4 Python
          .progressBarContainer
            .progressBarValue.value-50
        .progressBar
          h4 Javascript
          .progressBarContainer
            .progressBarValue.value-60
        .progressBar
          h4 PHP
          .progressBarContainer
            .progressBarValue.value-50
        .progressBar
          h4 Vulnerability Assessment
          .progressBarContainer
            .progressBarValue.value-50
